<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>


<div class="home-container">
    <div class="home-card">
        <h1>Welcome to Meal Buddy 🍔</h1>
        <p>Your favorite food, delivered fast.</p>

        <div class="home-actions">
            <a href="{% url 'open_signup' %}" class="home-btn">Sign Up</a>
            <a href="{% url 'open_signin' %}" class="home-btn outline">Sign In</a>
        </div>
    </div>
</div>


</body>

</html>
